@import "tailwindcss";


section > .max-width {
    @apply max-w-screen-lg mx-auto;
}
#hero {
    background-image: url(public/hero-img.png);
    background-size: cover;
}
p {
    line-height: 150%;
}